<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->
    <bean id="myCoach"
    	  class="com.valtz.springcode.BaseballCoach"
    >
    	<constructor-arg ref="myFortune" />
    </bean>
    
    <bean id="myFortune"
    	  class="com.valtz.springcode.HappyFortuneService"
    ></bean>
    
    <!-- start setter dependency injection here -->
    <bean id="cricketCoach"
    	class="com.valtz.springcode.CricketCoach"
    >
    	<!-- When use property tags, name attributes will triggle Spring to use setters to inject -->
    	<!-- set up setter injection -->
    	<property name="theFortune" ref="myFortune"/>
    	
    	<!-- set up literal values. WATCH OUT DIFFS IN ATTRIBUTES -->
    	<property name="emailAddress" value="${config.email}" />
    	<property name="team" value="${config.team}" />
    </bean>

</beans>





